name: Swift Lint

on:
  push:
    branches: [ "master" ]
    tags: [ "*" ]

jobs:
  lint:
    runs-on: self-hosted

    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Swift
        uses: fwal/setup-swift@v1
        with:
          swift-version: '5.9'

      # ----- Lint Step (using swift-format lint) -----
      - name: Lint with swift-format
        #run: swift format lint --recursive ./

        run: |
          swift format lint --recursive ./ | tee lint-output.txt
          if grep -q "warning:" lint-output.txt; then
            echo "Lint warnings found!"
            exit 1
          fi
